@font-face {
  font-family: 'Myriad';
  src: url('./assets/fonts/Myriad-Bold.woff2') format('woff2'),
    url('./assets/fonts/Myriad-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Myriad';
  src: url('./assets/fonts/Myriad-Regular.woff2') format('woff2'),
    url('./assets/fonts/Myriad-Regular.woff') format('woff');
  font-weight: 400;
}

#root {
  min-height: 100vh;
}
:root {
  /* color css variables */
  --brand-color: #92a39d;
  --bgd-color: #ffffff;
  --light-grey: #eeeeee;
  --md-grey: #c7c7c7;
  --dark-grey: #99979d;
  --cta-color: #ffeb6e;
  --light-color: #b6b1ff;
  --dark-color: rgb(221, 219, 72);
  --error-color: red;

  /* font family css variables */
  --primary-ff: 'Myriad';

  /* font weight */
  --regular-fw: 400;
  --strong-fw: 500;
  --bold-fw: 700;

  /* sizes */
  --header-height: 20rem;
  --base: 0.9rem;
  --md: 1.1rem;
  --lg: 1.5rem;
  --xl: 2rem;
  --xxl: 3.75rem;
  --width: 70rem;

  /* images */
  --logo: url(./assets/icons/logo.png);
  --landing-img: url('https://imgs.search.brave.com/4u92rQVqOMKUDVw66UjAnOGP0gUyZliHDHK2S30cXJ8/rs:fit:600:600:1/g:ce/aHR0cHM6Ly9nYWRn/ZXRzaW4uY29tL3Vw/bG9hZHMvMjAxOS8w/OS95aV8zX3NtYXJ0/X2hvbWVfc2VjdXJp/dHlfY2FtZXJhXzEu/anBn');
}

* {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  font-family: var(--primary-ff);
  font-weight: var(--regular-fw);
  font-size: var(--md);
  background-color: var(--white-clr);
}
.bold {
  font-weight: bold;
}
.container--preview,
.container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}
.box {
  display: flex;
  flex-direction: column;
}
.container--box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.bread--box {
  max-width: 40rem;
}
.container--filter {
  display: flex;
}
.container-fluid {
  background-color: var(--light-color);
}
.container--info {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.container--info__images,
.container--info__params {
  width: 50%;
  padding: 1rem;
}
.images {
  display: flex;
  justify-content: center;
  max-width: calc(50% - 1rem);
  overflow: hidden;
}
.container--info__params {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container--info__images {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 16px var(--md-grey);
}
@media (max-width: 35rem) {
  .container--info__images {
    width: 100%;
  }
}
@media (max-width: 54rem) {
  .accordion {
    width: 100%;
  }
}
.larger {
  max-width: 100%;
  width: 45rem;
}
.listItem {
  margin-left: 2rem;
  list-style: disc;
}
.title {
  max-width: 25rem;
}
.dark {
  text-decoration: underline;
}
.accordion {
  height: 100%;
}
.container--info__text {
  border-radius: 0.5rem;
  padding: 2rem;
  padding-top: 1rem;
  margin-top: 1rem;
  box-shadow: inset 0 0 16px var(--md-grey);
  width: 100%;
}
h1 {
  font-size: var(--xl);
  margin: 5rem 0 2rem;
  color: var(--bgd-color);
}
h2,
h3,
h4 {
  font-size: var(--lg);
  margin: 1rem 0;
}
.baseLayout,
.adminLayout,
.formLayout {
  display: flex;
  gap: 0.5rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 1rem;
}
.adminLayout {
  max-width: 80rem;
}
.formLayout {
  margin: 1rem auto;
}
.form-container {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--dark-grey);
  width: 35rem;
  max-width: 100%;
}
.padding {
  padding-bottom: 1rem;
}
.form-box,
.admin-form-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  width: 30rem;
}
.admin-form-box {
  width: auto;
}
.admin-form-box {
  width: 30rem;
}
.admin-form-box--flex {
  display: flex;
  gap: 1rem;
}
.form-input,
.selector {
  width: 100%;
  background-color: var(--bgd-color);
  border: 1px solid var(--md-grey);
  color: var(--brand-color);
}
.selector {
  height: var(--xl);
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.form-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}
.form-btn > * {
  flex-grow: 10;
}
.form-btn--password {
  flex-grow: 1;
}
.margin {
  margin: 1rem 0;
}
.product-container {
  width: var(--width);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.product__total {
  width: 100%;
  text-align: right;
}
.productFilterTitle {
  padding-bottom: 0.5rem;
  width: 100%;
}
.fa {
  padding: 1rem;
  width: 3rem;
  text-align: center;
  border: 1px solid var(--bgd-color);
  border-radius: 50%;
  transition: all ease 0.2s;
}
.fa:hover {
  background-color: var(--light-color);
}
.mainBtn {
  width: 6rem;
}
.removeBtn {
  display: flex;
  gap: 1rem;
  width: auto;
}
.checkout {
  display: block;
  padding: 1rem;
  margin: 1rem;
  width: auto;
}

#buttonRow {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
}
.button {
  max-width: calc(6rem + 2px);
}
