.header {
  height: var(--header-height);
  background-color: var(--brand-color);
  box-shadow: inset 0 -0.5rem 1.5rem rgb(0, 0, 0, 0.25);
}
.headerContainer {
  width: var(--width);
  margin: 0 auto;
}
.headerIMG {
  height: var(--header-height);
  width: 22rem;
  position: absolute;
  right: 35%;
  background-image: url(../../assets/images/tree.png);
  background-position: center;
  background-size: cover;
}
.headerTop {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.headerLogo {
  z-index: 1;
  color: var(--cta-color);
}
.headerLogoIMG:hover {
  color: var(--bgd-color);
}
.headerBtns {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  color: var(--bgd-color);
}
.btn,
.headerLogoIMG {
  transition: all ease 0.2s;
}
.btn:hover {
  color: var(--cta-color);
}
.headerTextBox {
  margin: 1rem;
  width: 25rem;
}
