.headerContainer {
  border-radius: 1rem;
  background-color: var(--darkest-grey);
  margin: 0.5rem;
}
.headerTop {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  width: var(--width);
  padding: 0.5rem;
  margin: 0 auto;
}
.headerLogo {
  color: var(--cta-color);
}
.headerLogoIMG {
  transition: all ease 0.2s;
  width: 3rem;
  height: 3rem;
  background-image: var(--logo);
  background-size: contain;
}
.headerLogoIMG:hover {
  color: var(--bgd-color);
}
.headerBtns {
  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;
  align-items: center;
  color: var(--bgd-color);
}
.btn:hover {
  color: var(--md-grey);
}
.headerMiddle {
  background-color: --dark-color;
  padding: 1rem;
}
.headerBottom {
  background-color: var(--darkest-grey);
}
.headerButton {
  color: var(--bgd-color);
}
.btn {
  cursor: pointer;
  display: flex;
  transition: all ease 0.2s;
}
.shake {
  display: flex;
  animation: shake 0.8s;
}
@keyframes shake {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
